---
import Layout from "../../layouts/Layout.astro";
import Menu from "../../components/Menu.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Contact from "../../components/Contact.astro";

const showName = Astro.params.show;
const showList = await Astro.glob("./content/*.md");
const curatorList = await Astro.glob("../curators/content/*.md");

const show = showList.find((obj) => {
  return obj.file.includes(showName);
});

const curator = curatorList.find((obj) => {
  return obj?.frontmatter.name === show?.frontmatter.curator;
});

export async function getStaticPaths() {
  const shows = await Astro.glob("./content/*.md");
  return [
    shows.map((show) => ({
      params: {
        show: show.url.split("/").pop(),
      },
    })),
  ];
}

const { title, tags, tracklist, link, img: art, about } = show?.frontmatter;
const { name, img: curatorImg, bio } = curator.frontmatter;
---

<Layout title={title}>
  <Menu title="RADIO SHOWS" />
  <Breadcrumb title={title} />

  <main class="md:ml-[140px] md:pt-[86px] pt-[186px] md:mr-[86px] p-10">
    <div class="text-white flex md:flex-row flex-col-reverse gap-8">
      <!-- About -->
      <div>
        <!-- {showName} -->
        <!-- {JSON.stringify(curator.frontmatter.name)} -->
        <h2 class="epi-about mb-2">ABOUT THIS EPISODE</h2>
        <p class="mb-8 epi-text">
          {about}
        </p>
        <!-- tags -->
        <div class="flex mb-8">
          <!-- tags map -->
          {
            tags.map((tag) => (
              <div class="mr-2 tag">
                <span class="text-xs text-gray-400">{tag}</span>
              </div>
            ))
          }
        </div>
        <!-- player -->
        <!-- <div class="corner-wrapper">
          <iframe
            id="mixcloud-player"
            width="100%"
            height="120"
            src={link}
            frameborder="0"></iframe>
        </div> -->
        <!-- buttons -->
        <div class="flex items-center gap-6 mb-8 flex-wrap">
          <!-- <div class="pointer">
            <svg
              width="64"
              height="64"
              viewBox="0 0 64 64"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="Vector">
                <path
                  id="Vector_2"
                  d="M31.8301 0.673828C25.5846 0.673828 19.4794 2.52478 14.2865 5.99263C9.09357 9.46047 5.04619 14.3894 2.65616 20.1563C0.266123 25.9231 -0.359219 32.2687 0.859211 38.3907C2.07764 44.5127 5.08512 50.1362 9.50132 54.5499C13.9175 58.9636 19.5441 61.9694 25.6696 63.1871C31.795 64.4049 38.1442 63.7799 43.9143 61.3912C49.6844 59.0025 54.6161 54.9574 58.0859 49.7674C61.5557 44.5774 63.4077 38.4756 63.4077 32.2337C63.4077 23.8635 60.0808 15.8361 54.1588 9.9175C48.2369 3.99888 40.205 0.673828 31.8301 0.673828ZM48.6271 34.2513L21.5606 47.7769C21.2166 47.9487 20.8344 48.0298 20.4503 48.0124C20.0662 47.995 19.6929 47.8797 19.3659 47.6776C19.0388 47.4754 18.769 47.1931 18.5819 46.8574C18.3948 46.5216 18.2966 46.1437 18.2968 45.7594V18.708C18.297 18.3239 18.3954 17.9462 18.5827 17.6108C18.77 17.2754 19.0399 16.9934 19.3668 16.7915C19.6938 16.5896 20.0669 16.4745 20.4509 16.4572C20.8348 16.44 21.2168 16.521 21.5606 16.6927L48.6271 30.2184C49.0013 30.4058 49.3159 30.6936 49.5357 31.0495C49.7556 31.4054 49.872 31.8154 49.872 32.2337C49.872 32.652 49.7556 33.062 49.5357 33.4179C49.3159 33.7738 49.0013 34.0616 48.6271 34.249V34.2513Z"
                  fill="#EDEDED"></path>
              </g>
            </svg>
          </div> -->
          <div>
            <svg
              width="71"
              height="69"
              viewBox="0 0 71 69"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="ri:share-fill">
                <path
                  id="Vector"
                  d="M40.1625 49.2054L25.0454 41.3089C23.5943 42.6884 21.7493 43.6256 19.7429 44.0023C17.7365 44.3791 15.6585 44.1784 13.771 43.4257C11.8835 42.673 10.2709 41.4019 9.13653 39.7727C8.00218 38.1435 7.39685 36.2291 7.39685 34.2709C7.39685 32.3127 8.00218 30.3983 9.13653 28.7691C10.2709 27.1399 11.8835 25.8688 13.771 25.1161C15.6585 24.3634 17.7365 24.1628 19.7429 24.5395C21.7493 24.9162 23.5943 25.8534 25.0454 27.2329L40.1625 19.3364C39.644 17.0067 40.0185 14.576 41.2174 12.489C42.4163 10.4019 44.3596 8.79791 46.6918 7.9703C49.0241 7.14269 51.5894 7.14676 53.9188 7.98178C56.2481 8.8168 58.1858 10.427 59.3775 12.5178C60.5692 14.6087 60.9352 17.0405 60.4087 19.3686C59.8822 21.6967 58.4982 23.7654 56.51 25.1966C54.5217 26.6277 52.062 27.3256 49.5807 27.1626C47.0994 26.9996 44.7622 25.9866 42.9966 24.3089L27.8795 32.2054C28.1806 33.5663 28.1806 34.9726 27.8795 36.3336L42.9966 44.2329C44.7622 42.5552 47.0994 41.5422 49.5807 41.3792C52.062 41.2162 54.5217 41.9141 56.51 43.3452C58.4982 44.7764 59.8822 46.8451 60.4087 49.1732C60.9352 51.5013 60.5692 53.9331 59.3775 56.024C58.1858 58.1149 56.2481 59.725 53.9188 60.56C51.5894 61.395 49.0241 61.3991 46.6918 60.5715C44.3596 59.7439 42.4163 58.1399 41.2174 56.0529C40.0185 53.9658 39.644 51.5352 40.1625 49.2054Z"
                  fill="#EDEDED"></path>
              </g>
            </svg>
          </div>
          <div>
            <h3 class="follow">Follow us</h3>
          </div>
          <div class="flex gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="37"
              height="35"
              viewBox="0 0 37 35"
              fill="none"
            >
              <path
                d="M18.1614 12.4563C15.2329 12.4563 12.8719 14.7291 12.8719 17.4998C12.8719 20.2705 15.2556 22.5433 18.1614 22.5433C21.0673 22.5433 23.451 20.2705 23.451 17.4998C23.451 14.7291 21.0673 12.4563 18.1614 12.4563ZM34.0527 17.4998C34.0527 15.4002 34.0527 13.3438 33.9392 11.2441C33.8257 8.8198 33.2355 6.6552 31.3739 4.90188C29.5124 3.12691 27.2649 2.56412 24.7223 2.45589C22.5202 2.34766 20.3635 2.34766 18.1614 2.34766C15.9594 2.34766 13.8027 2.34766 11.6006 2.45589C9.058 2.56412 6.78781 3.12691 4.94896 4.90188C3.08741 6.67685 2.49716 8.8198 2.38365 11.2441C2.27014 13.3438 2.27014 15.4002 2.27014 17.4998C2.27014 19.5995 2.27014 21.6559 2.38365 23.7555C2.49716 26.1799 3.08741 28.3445 4.94896 30.0978C6.81051 31.8727 9.058 32.4355 11.6006 32.5438C13.8027 32.652 15.9594 32.652 18.1614 32.652C20.3635 32.652 22.5202 32.652 24.7223 32.5438C27.2649 32.4355 29.5351 31.8727 31.3739 30.0978C33.2355 28.3228 33.8257 26.1799 33.9392 23.7555C34.0754 21.6775 34.0527 19.5995 34.0527 17.4998ZM18.1614 25.2707C13.6438 25.2707 10.0115 21.8074 10.0115 17.4998C10.0115 13.1923 13.6438 9.72893 18.1614 9.72893C22.6791 9.72893 26.3114 13.1923 26.3114 17.4998C26.3114 21.8074 22.6791 25.2707 18.1614 25.2707ZM26.6519 11.2225C25.6077 11.2225 24.745 10.4216 24.745 9.40424C24.745 8.38688 25.585 7.58598 26.6519 7.58598C27.7189 7.58598 28.5589 8.38688 28.5589 9.40424C28.5646 9.64134 28.5192 9.87704 28.4255 10.0967C28.3318 10.3164 28.1917 10.5154 28.0141 10.6814C27.84 10.8508 27.6313 10.9843 27.4009 11.0737C27.1705 11.163 26.9233 11.2063 26.6746 11.2009L26.6519 11.2225Z"
                fill="#EDEDED"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="31"
              viewBox="0 0 32 31"
              fill="none"
            >
              <g clip-path="url(#clip0_119_2400)">
                <path
                  d="M31.4719 15.5935C31.4719 7.1433 24.4748 0.293457 15.8446 0.293457C7.21052 0.295358 0.213379 7.1433 0.213379 15.5954C0.213379 23.2302 5.92907 29.5592 13.3989 30.7072V20.0162H9.4335V15.5954H13.4028V12.2218C13.4028 8.3882 15.7372 6.27091 19.3061 6.27091C21.0173 6.27091 22.8046 6.56931 22.8046 6.56931V10.3325H20.8336C18.8939 10.3325 18.2883 11.5128 18.2883 12.7235V15.5935H22.621L21.9295 20.0143H18.2864V30.7053C25.7562 29.5573 31.4719 23.2283 31.4719 15.5935Z"
                  fill="#EDEDED"></path>
              </g>
              <defs>
                <clipPath id="clip0_119_2400">
                  <rect
                    width="31.2547"
                    height="30.4099"
                    fill="white"
                    transform="translate(0.217407 0.294922)"></rect>
                </clipPath>
              </defs>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              viewBox="0 0 35 35"
              fill="none"
            >
              <path
                d="M32.4199 8.34502C31.3186 8.83219 30.1508 9.15223 28.9551 9.29455C30.215 8.54003 31.1576 7.35325 31.6074 5.9553C30.4241 6.65952 29.1268 7.15304 27.7761 7.42001C26.8678 6.44822 25.664 5.80373 24.3516 5.58672C23.0393 5.36972 21.6921 5.59236 20.5193 6.22004C19.3466 6.84771 18.4141 7.84526 17.8667 9.05759C17.3194 10.2699 17.188 11.6291 17.4928 12.9239C15.0929 12.8038 12.7451 12.1803 10.6018 11.0939C8.45854 10.0074 6.56773 8.48235 5.05216 6.61767C4.51576 7.53899 4.23388 8.58633 4.23539 9.65243C4.23539 11.7449 5.30181 13.5934 6.91949 14.6757C5.96131 14.6455 5.02424 14.3868 4.18633 13.921V13.9946C4.18628 15.3884 4.66836 16.7394 5.55079 17.8183C6.43322 18.8972 7.66168 19.6376 9.02781 19.9141C8.13836 20.1554 7.20564 20.1909 6.30041 20.018C6.6856 21.2177 7.43641 22.2669 8.44769 23.0187C9.45897 23.7704 10.6801 24.187 11.9399 24.2101C10.6878 25.1934 9.2542 25.9204 7.72098 26.3492C6.18775 26.7781 4.58503 26.9005 3.00446 26.7095C5.76319 28.4835 8.97456 29.4254 12.2545 29.4224C23.3574 29.4224 29.427 20.2258 29.427 12.2499C29.427 11.9902 29.4212 11.7276 29.4096 11.4693C30.5907 10.6155 31.61 9.55656 32.4199 8.34502Z"
                fill="#EDEDED"></path>
            </svg>
          </div>
        </div>
        <!-- tracklist -->
        <div>
          <ol>
            <!-- tracklist map -->
            {
              tracklist.map((track) => (
                <li class="track text-gray-400">{track}</li>
              ))
            }
          </ol>
        </div>
        <!-- About the Curator -->
        <div class="mt-8">
          <h2 class="epi-about mb-2">ABOUT THE HOST</h2>
          <div>
            <div class="flex md:flex-row flex-col md:items-center gap-8">
              <div>
                <img
                  class="max-w-[200px] max-h-[200px]"
                  src={curatorImg}
                  alt=""
                />
              </div>
              <div>
                <h3 class="epi-about mb-2">{name}</h3>
                <p class="epi-text">{bio}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Artwork -->
      <div class="">
        <img class="md:sticky top-[100px]" src={art} alt="" />
        <script
          src="//widget.mixcloud.com/media/js/widgetApi.js"
          type="text/javascript"></script>
        <!-- <iframe
          id="mixcloud-player"
          width="100%"
          height="60"
          src={link}
          frameborder="0"></iframe> -->
      </div>
    </div>
    <!-- MIXCLOUD PLAYER  -->
    <div class="fixed bottom-0 w-full z-[1000]">
      <iframe
        class=""
        id="mixcloud-player"
        width="100%"
        height="60"
        src={link}
        frameborder="0"></iframe>
    </div>

    <!-- Contact -->
    <!-- <Contact /> -->
  </main>
</Layout>

<script is:inline>
  const widget = Mixcloud.PlayerWidget(
    document.getElementById("mixcloud-player")
  );
  widget?.ready?.then(async function () {
    console.log("ready");
    await widget.play();
  });
  async function playMixcloud() {
    console.log("play");
    // console.log(widget);
    await widget.togglePlay();
  }
</script>

<style>
  .track {
    font-family: "Asap Condensed", sans-serif;
    font-size: 16px;
  }
  .corner-wrapper {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    transform: translateZ(0px);
    border: 2px solid #eee;
  }
  .follow {
    font-family: "Asap Condensed", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  .epi-about {
    font-family: "Asap Condensed", sans-serif;
    font-size: 20px;
  }
  .tag {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    padding: 1px 18px;
  }
  .epi-text {
    font-family: "Asap Condensed", sans-serif;
    font-size: 16px;
  }
</style>
